@mixin normal-card {
  width: 300px;
  transition: all 0.3s;
}

@mixin scroll-content {
  height: calc(100% - 80px);
  overflow-y: scroll;
}

@mixin base-card {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

$full-height: calc(100% - 150px);

.selected {
  background: #3f51b5;
  color: white;
}

.panel-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100% - 64px);

  .project-card {
    @include normal-card;

    height: 280px;

    .project-item-card {
      margin-top: 10px;
      cursor: pointer;
      transition: all 0.3s;
      display: flex;
      justify-content: space-between;
    }

    .project-footer {
      display: flex;
      justify-content: flex-end;
      padding: 20px 16px;
    }
  }

  .deploy-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 60px 0;
    box-sizing: border-box;
  }

  .logger-card {
    @include normal-card;

    width: 500px;
    height: $full-height;

    .logger-content {
      height: calc(100% - 80px);
    }
  }

  .notify-card {
    @include normal-card;

    height: $full-height;

    .notify-item-card {
      @include base-card;
    }

    .notify-content {
      @include scroll-content;

      &::-webkit-scrollbar {
        width: 0 !important;
      }
    }

    .notify-nothing {
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .task-card {
    @include normal-card;

    height: 300px;

    .task-nothing {
      width: 100%;
      height: 200px !important;
      text-align: center;
      margin-top: 10px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .task-content {
      @include scroll-content;

      &::-webkit-scrollbar {
        width: 0 !important;
      }

      .task-item-card {
        @include base-card;
        @extend .selected;
      }
    }
  }
}

* {
  font-weight: 200;
}

.dispatcher-logs {
  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 60px);
  overflow-y: scroll;
  margin-top: 10px;
  white-space: pre-line;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}
